Source: rozum-update-tool
Section: pulse-desk
Priority: optional
Maintainer: rozum.com
Version: ${version}
Package: rozum-update-tool
Architecture: all
Description: Firmware Update Tool for Rozum Pulse robot
Build-Depends: build-essential
Replaces: pulse-desk-firmware-installer
Conflicts: pulse-desk-firmware-installer
Depends: build-essential

